# use these environment variables when running the service locally (not in docker)
NODE_ENV=development
PORT=3005
DATABASE_URL=
GOOGLE_PROJECT_ID=readdly-489513

SERVICE_ACCOUNT_KEY=

# uploadthing
UPLOADTHING_TOKEN=
